:root {
  --textMain: #fafafa;
  --textAlternative: rgba(250, 250, 250, 0.6);
  --textTitle: rgba(250, 250, 250, 0.4);
  --borderMain: rgba(250, 250, 250, 0.2);
  --borderAlternative: rgba(250, 250, 250, 0.5);
  --backgroundMain: #1c1d20;
  --backgroundAlternative: #242527;
  --accent: #ed3b44;
  --accentAlternative: #e0373f;
  --arrow: #3b3b3b;
  --transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}