.about-me-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.about-me-hero-desc {
  border-radius: 24px;
  min-height: 500px;
  background-color: var(--backgroundAlternative);
  margin-bottom: 16px;
  padding: 32px;
}

.about-me-hero-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--textMain);
}

.about-me-text-functional {
  color: var(--accent);
}

.about-me-text-website {
  color: var(--textTitle);
}

.about-me-picture-container {
  border-radius: 24px;
  min-height: 500px;
  /* padding-bottom: 32px; */
}

.about-me-picture {
  width: 100%;
  min-height: 500px;
}

.about-me-text-photo {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .about-me-section {
    padding-top: 32px;
    padding-bottom: 48px;
  }

  .about-me-text-photo {
    margin-bottom: 64px;
  }

  .about-me-hero-desc {
    min-height: 700px;
    padding: 64px;
  }
  .about-me-hero-text {
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.03em;
  }
  .about-me-picture-container {
    min-height: 700px;
  }
  .about-me-picture {
    min-height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-section {
    padding-top: 48px;
    padding-bottom: 82px;
  }
  .about-me-hero-desc {
    margin-bottom: 0;
  }

  .about-me-text-photo {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 96px;
  }

  .about-me-hero-desc {
    width: 50%;
  }

  .about-me-picture-container {
    width: 50%;
    min-height: 700px;
  }

  .about-me-picture {
    width: 100%;
    height: auto;
  }
}

.about-me-ac-list-item {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid var(--borderMain) !important;
  margin: 0;
}

.about-me-section .ac {
  margin-top: 0;
}

.about-me-section .ac .ac-trigger {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 0;
  position: relative;
  padding-left: 0px !important;
  transition: var(--transition);
}

.about-me-section .ac .ac-trigger::after {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-me-section .ac .ac-trigger[aria-expanded='true'] .about-me-slider-arrow {
  stroke: var(--accent);
}

.about-me-section .ac .ac-trigger[aria-expanded='true'] .about-me-ac-button {
  border-color: var(--accent);
}

.about-me-ac-list-item {
  margin-bottom: 20px;
}
.about-me-desc:first-child {
  padding-bottom: 32px;
}

.about-me-section .ac .ac-trigger {
  padding-bottom: 32px;
}
.about-me-ac-list-item.is-active .ac-trigger {
  padding-bottom: 12px;
}
.about-me-ac-list {
  margin-bottom: 64px;
}
.about-me-desc-container {
  gap: 10px;
}
.about-me-desc-container:first-child {
  gap: 0px;
}

.about-me-ac-item-title {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--textTitle);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.about-me-ac-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid var(--borderMain);
  border-radius: 100px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: var(--transition);
  stroke: var(--textMain);
}

.about-me-slider-arrow {
  transition: var(--transition);
}

.about-me-slider-arrow.rotate-180 {
  transform: rotate(180deg);
}

.about-me-desc-container {
  display: flex;
  flex-direction: column;
}

.about-me-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--textMain);
}

.about-me-role-text,
.about-me-education-text {
  display: flex;
}

.about-me-role-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about-me-role-box {
    margin-bottom: 32px;
  }

  .about-me-desc:first-child {
    padding-bottom: 16px;
  }

  .about-me-ac-list-item {
    margin-bottom: 32px;
  }

  .about-me-ac-button {
    width: 40px;
    height: 40px;
  }
  .about-me-slider-arrow {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-role-box {
    width: 50%;
    margin-left: auto;
  }

  .about-me-desc {
    padding-right: 68px;
  }

  .about-me-desc:first-child {
    padding-bottom: 32px;
  }
}

.about-me-skills {
  position: relative;
}

.about-me-skills-swiper {
  width: 260px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 32px;
  overflow: hidden;
  transition: var(--transition);
}

.about-me-skills-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.about-me-skills-swiper .swiper-slide {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--textMain);
  width: 130px !important;
  height: 130px !important;
  flex-shrink: 0;
  border-radius: 100%;
  border: 1px solid var(--borderMain);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about-me-swiper-button-next {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
  z-index: 20;
}

.about-me-skills-swiper .is-first {
  transition: all 1.5s ease;
}

.about-me-skills-swiper .is-first {
  background-color: var(--accent);
  border: none;
}

.about-me-swiper-icon {
  fill: transparent;
  stroke: var(--arrow);
  transition: all var(--transition);
}

.about-me-swiper-icon:hover {
  stroke: var(--accent);
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .about-me-skills-swiper {
    width: 600px;
  }

  .about-me-skills-swiper .swiper-slide {
    font-size: 20px;
    width: 200px !important;
    height: 200px !important;
  }

  .about-me-swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .about-me-swiper-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-skills-swiper {
    width: 1200px;
  }
}

.arrow-rotate {
  transform: rotate(180deg);
}
