.about-me-section {
  margin-top: 32px;
}
.about-me-container {
}
.about-me-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-me-hero-desc {
  border-radius: 24px;
  min-width: 343px;
  min-height: 500px;
  background-color: #242527;
  margin-bottom: 16px;
}
.about-me-hero-text {
  font: 500 24px / 1.16667 'Inter Tight', sans-serif;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--textMain);
  padding: 32px 32px;
}
.about-me-text-functional {
  color: var(--accent);
}
.about-me-text-website {
  color: rgba(250, 250, 250, 0.4);
}
.about-me-picture-container {
  border-radius: 24px;
}
.about-me-picture {
}




/* Общие стили для контейнера */
.about-me-ac-container {
  margin-top: 32px;
}

/* Стили для списка аккордеонов */
.about-me-ac-list {
  list-style: none; /* Убираем маркеры списка, если они есть */
  padding: 0;
  margin: 0;
}

/* Стили для каждого элемента аккордеона */
.about-me-ac-list-item {
  background-color: transparent;
  border: none !important; 
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin: 0;
  background-color: transparent !important;
}

/* Стили для аккордеона, когда он закрыт */
.ac.closed .ac-trigger {
  margin-top: 20px;
  margin-bottom: 32px;
}

/* Стили для триггера аккордеона */
.ac .ac-trigger {
  display: flex !important;
  justify-content: space-between;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  position: relative; /* Для псевдоэлемента */
}

.ac .ac-trigger::after {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Заголовок элемента аккордеона */
.about-me-ac-item-title {
  font: 600 16px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

/* Кнопка аккордеона */
.about-me-ac-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex; /* Обеспечивает центрирование содержимого */
  justify-content: center;
  align-items: center;
  fill: #fafafa; /* Цвет заполнения для SVG */
}

/* Стрелка в кнопке аккордеона */
.about-me-slider-arrow {
  transition: transform 0.3s ease-in-out;
}

.about-me-slider-arrow.rotate-180 {
  transform: rotate(180deg);
}

/* Контейнер с описанием */
.about-me-desc-container {
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Описание */
.about-me-desc {
  font: 500 16px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: #fafafa;
}

/* Контейнер для ролей */
.about-me-role-container,
.about-me-education-container {
  margin-top: 20px;
}

/* Роли и текст образования */
.about-me-role-text,
.about-me-education-text {
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
}
