.benefits-section {
}

.benefit-container {
}
.benefits-space {
}
.benefits-space-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--textTitle);
}
.benefits-list-container {
  margin-top: 32px;
}
.benefit-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.benefit-list-card {
  background-color: var(--backgroundAlternative);
  border-radius: 20px;
  padding: 24px;
  /* width: 344px; */
  height: 270px;
}
.benefit-list-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--accent);
  border-radius: 10px;
}
.benefit-list-icon-svg {
  stroke: var(--textMain);
  fill: var(--accent);
  width: 24px;
  height: 24px;
}
.benefits-item-title {
  padding-top: 64px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--textMain);
}
.benefits-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--textAlternative);
}

.benefit-btn-order {
  border: 1px solid var(--borderMain);
  border-radius: 60px;
  padding: 18px 36px;
  width: 187px;
  height: 55px;
  background-color: transparent;
  color: var(--textMain);
}

.benefit-btn-order:hover,
.benefit-btn-order:focus {
  border: 1px solid var(--textMain);
}

@media screen and (min-width: 768px) {
  .benefit-container {
    margin-top: 96px;
  }
  .benefit-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }

  .benefit-list-card {
    width: 100%;
    height: 270px;
  }
  .benefit-btn-order {
    margin-top: 64px;
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .benefit-container {
    margin-top: 164px;
  }

  .benefits-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
  }

  .benefit-list {
    display: contents;
  }

  .benefit-list-card {
    width: 332px;
    height: 270px;
  }
  .benefits-list-container {
    margin-top: 0;
  }
  .benefit-btn-order {
    grid-column: 2 / span 2;
    margin-top: 64px;
  }
}
