.covers {
  margin: 32px 0 32px;
  position: relative;
  overflow: hidden;
  height: 508px;
  min-width: 320px;
  background-size: cover;
  background: rgba(217, 217, 217, 0.04);
  backdrop-filter: blur(15px);
  /* background-image: url(/img/Covers/covers_background.png); */
}

.background {
}

.crcl1::before,
.crcl2::before,
.crcl3::before,
.crcl4::before,
.crcl5::before,
.crcl6::before,
.crcl7::before,
.crcl8::before,
.crcl9::before,
.crcl10::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: var(--accent);
  opacity: 0.8;
  filter: blur(60px);
}

.crcl1::before {
  animation: fade 1s ease-in-out 1s infinite alternate;
  top: 198px;

  left: 0;
}

.crcl2::before {
  animation: fade 2s ease-in-out 2s infinite alternate;
  top: 0;
  left: 428px;
}

.crcl3::before {
  animation: fade 3s ease-in-out 3s infinite alternate;
  top: 714px;
  left: 1478px;
}

.crcl4::before {
  animation: fade 1s ease-in-out 4s infinite alternate;
  top: 200px;
  left: 928px;
}
.crcl5::before {
  animation: fade 2s ease-in-out 5s infinite alternate;
  top: 0px;
  left: 128px;
}
.crcl6::before {
  animation: fade 3s ease-in-out 6s infinite alternate;
  top: 0px;
  left: 1528px;
}
.crcl7::before {
  animation: fade 1s ease-in-out 7s infinite alternate;
  top: 400px;
  left: 1600px;
}
.crcl8::before {
  animation: fade 2s ease-in-out 8s infinite alternate;
  top: 400px;
  left: 428px;
}
.crcl9::before {
  animation: fade 3s ease-in-out 8s infinite alternate;
  top: 700px;
  left: 128px;
}
.crcl10::before {
  animation: fade 1s ease-in-out 9s infinite alternate;
  top: 700px;
  left: 728px;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.covers-title {
  display: none;
}

.marquee {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.marquee__inner {
  display: flex;
  gap: 24px;
  transform: rotate(17deg);
}

.marquee-wrapper {
  height: 100%;
}
.marquee__card1 {
  display: block;
  flex-shrink: 0;
  width: 282px;
  height: 162px;
  object-fit: cover;
}
.marquee__card2 {
  display: block;
  flex-shrink: 0;
  width: 282px;
  height: 162px;
  object-fit: cover;
}

.line1 {
  animation: marqueeLine1 20s ease-in-out infinite alternate;
}

.line2 {
  animation: marqueeLine2 20s ease-in-out infinite alternate;
}

.marquee-photo {
  height: 100%;
}

@keyframes marqueeLine1 {
  from {
    transform: translateX(280%);
  }
  to {
    transform: translateX(-280%);
  }
}

@keyframes marqueeLine2 {
  from {
    transform: translateX(-280%);
  }
  to {
    transform: translateX(280%);
  }
}
/* Tablet */
@media only screen and (min-width: 768px) {
  @keyframes marqueeLine1 {
    from {
      transform: translateX(260%);
    }
    to {
      transform: translateX(-250%);
    }
  }

  @keyframes marqueeLine2 {
    from {
      transform: translateX(-260%);
    }
    to {
      transform: translateX(250%);
    }
  }
  .covers {
    margin: 48px 0 48px;
    height: 960px;
  }
  .marquee {
    top: -40px;
    gap: 44px;
  }
  .marquee__inner {
    gap: 44px;
  }
  .marquee__card1 {
    width: 544px;
    height: 314px;
  }
  .marquee__card2 {
    width: 544px;
    height: 314px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .covers {
    margin: 82px 0 82px;
  }
  .marquee {
    gap: 64px;
  }
  .marquee__inner {
    gap: 64px;
  }
}
