.covers-section {
  margin: 32px 0 32px 0;
  height: 100%;
}

.covers-title {
  display: none;
}

.content {
  position: relative;
}

.marquee {
  background-image: url(../img/Covers/covers_background.png);
  backdrop-filter: blur(15px);
  width: 100%;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  transform: rotate(17deg);
}

.marquee__line {
  background-color: transparent;
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 544px;
  height: 314px;
  white-space: nowrap;
  animation: marqueeLine 10s ease-in-out infinite alternate;

  /* animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
}

@keyframes marqueeLine {
  /* from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
} */

  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(-300%);
  }
}
