.faq {
  background-color: transparent;
  padding-top: 32px;
  padding-bottom: 32px;
}

.faq-title {
  color: var(--textTitle);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.faq .ac .ac-header {
  padding: 20px 0 16px 0;
}

.faq .ac .ac-trigger {
  font: 600 20px 'Inter Tight' !important;
  position: relative;
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 !important;
  margin: 0;
  color: var(--textMain) !important;
  font-family: 'Inter Tight', sans-serif !important;
}

.faq .ac .ac-trigger::after {
  content: '' !important;
}

.faq-span {
  display: flex;
  margin-left: 20px;

  border: 1px solid var(--borderMain);
  border-radius: 50%;
  padding: 10px;
}
.faq .ac {
  background-color: transparent !important;
  border: none !important;
  margin-top: 0 !important;
  border-top: 1px solid var(--borderMain) !important;
}

.faq .ac:last-child {
  border-bottom: 1px solid var(--borderMain) !important;
}

.faq .ac .faq-icon {
  fill: transparent;
  stroke: var(--textMain);

  transition: transform var(--transition);
}

.faq .ac.is-active .faq-icon {
  transform: rotate(180deg);
  transition: transform var(--transition);
}

.faq .ac .ac-text {
  color: var(--textAlternative) !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Inter Tight', sans-serif !important;
  padding: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 20px !important;
}

@media only screen and (min-width: 768px) {
  .faq {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .faq .ac .ac-text {
    padding-bottom: 24px;
  }

  .faq .ac .ac-header {
    padding: 32px 0 26px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .faq {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .faq .accordion-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;
    max-height: 584px;
  }

  .faq .ac {
    width: 50%;
  }

  .faq .ac:nth-last-child(n) {
    border-bottom: 1px solid var(--borderMain) !important;
  }

  .faq .ac:nth-child(odd) {
    border-right: 1px solid var(--borderMain) !important;
  }

  .faq .ac:nth-child(odd) {
    padding-right: 32px !important;
  }

  .faq .ac:nth-child(even) {
    padding-left: 32px;
  }

  .faq .ac .ac-text {
    padding-bottom: 26px;
  }
}
