.footer {
  padding-top: 32px;
}
.container {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .container {
    padding-top: 88px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    padding-left: 196px;
  }
}
.title-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 63px;
}
@media only screen and (min-width: 768px) {
  .title-footer {
    margin-bottom: 64px;
  }
}
.img-span {
  display: flex;
}
.img-footer {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .img-footer {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 7px;
  }
}
.title-text-footer {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .title-text-footer {
    width: 442px;

    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.92px;
  }
}
.work-span {
  color: #ed3b44;
}
.form-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
    .form-footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: baseline;
        gap: 20px;
        margin-right: 32px;
    }
  }

.form-footer input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  text-overflow: ellipsis;
  width: 343px;
}
@media only screen and (min-width: 768px) {
    .form-footer input{
        width: 245px;
    }
  }
  @media only screen and (min-width: 1440px) {
    .form-footer input{
        width: 390px;
    }
  }

.contacts-list-footer {
  display: flex;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
    .contacts-list-footer {
        gap: 8px;
      }
  }
.contact-link-footer {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
@media only screen and (min-width: 768px) {
    .contact-link-footer {
font-size: 16px;
letter-spacing: -0.32px;
      }
  }
.contact-item-footer {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.contact-item-footer:hover,
.contact-item-footer:focus{
    border-radius: 60px;
    border: 1px solid #FAFAFA;
}

@media only screen and (min-width: 768px) {
    .contact-item-footer {  
        padding: 18px 32px;
        gap: 10px;
}
}

.btn-footer-send {
  width: 100px;
  height: 100px;

  background-color: #ed3b44;
  color: #fafafa;
  border-radius: 50%;
  border-style: none;

  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;

  margin-top: 32px;
  margin-bottom: 74px;
}

.btn-footer-send:hover,
.btn-footer-send:focus {
    background-color: #E0373F;
}

@media only screen and (min-width: 768px) {
    .btn-footer-send{  
        width: 150px;
        height: 150px;    

}
}