.footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 169px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 169px;
    padding-left: 196px;
  }
}

.title-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 63px;
}
@media only screen and (min-width: 768px) {
  .title-footer {
    margin-bottom: 18px;
  }
}
.img-span {
  display: flex;
}
.img-footer {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .img-footer {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 7px;
  }
}
.title-text-footer {
  color: var(--textMain);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.003em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .title-text-footer {
    max-width: 442px;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.0048em;
  }
}
.work-span {
  color: var(--accent);
}
.form-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;
    gap: 20px;
    margin-right: 32px;
    margin-bottom: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .form-footer {
    margin-bottom: 36px;
  }
}

.form-footer input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  text-overflow: ellipsis;
  width: 343px;
}
@media only screen and (min-width: 768px) {
  .form-footer input {
    width: 245px;
  }
}
@media only screen and (min-width: 1440px) {
  .form-footer input {
    background-color: transparent;
    width: 390px;
    height: 44px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}

.js-email-input.invalid {
  border-bottom: 1px solid #e74a3b;
}

.js-email-input.valid {
  border-bottom: 1px solid #3cbc81;
}

.email-message {
  font-size: 12px;
  margin-top: 5px;
}

.email-message.error {
  color: #e74a3b;
}

.email-message.success {
  color: #3cbc81;
}

.contacts-list-footer {
  display: flex;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .contacts-list-footer {
    gap: 8px;
  }
}
.contact-link-footer {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
@media only screen and (min-width: 768px) {
  .contact-link-footer {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}
.contact-item-footer {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item-footer:hover,
.contact-item-footer:focus {
  border-radius: 60px;
  border: 1px solid #fafafa;
}

@media only screen and (min-width: 768px) {
  .contact-item-footer {
    padding: 18px 32px;
    gap: 10px;
  }
}

.btn-footer-send {
  width: 100px;
  height: 100px;
  background-color: #ed3b44;
  color: #fafafa;
  border-radius: 50%;
  border-style: none;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-top: 32px;
  margin-bottom: 74px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-footer-send:hover,
.btn-footer-send:focus {
  background-color: #e0373f;
}

@media only screen and (min-width: 768px) {
  .btn-footer-send {
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
