.header-hero {
    position: relative;
}

.header {
    position: absolute;
    padding-top: 32px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
}

.header-photo-logo {
    border-radius: 18px;
}