.header-hero {
  position: relative;
}

.header {
  position: absolute;
  padding-top: 32px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
}

.header-photo-logo {
  margin-right: 8px;
}

.header-photo-logo {
  border-radius: 18px;
}

.header-nav-menu {
  width: 28px;
  height: 28px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../../img/Hero/heroMenu_mob@1x.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 400ms ease, opacity 400ms ease, visibility 400ms ease;
  z-index: 999;
}

.header-mob-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.header-btn-close-menu {
  position: absolute;
  right: 13px;
  top: 32px;
  background-color: transparent;
  margin-top: auto;
  border: 0;
  padding: 0;
  height: 0;
}

.header-modal-menu-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-modal-menu-item {
  text-align: center;
}

.header-modal-menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.header-modal-link {
  text-decoration: underline;
}

.header-btn-link-project {
  border: 0;
  border-radius: 60px;
  padding: 14px 31px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: #ed3b44;
  color: #fafafa;
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: background-color 350ms;
}

.header-btn-link-project:hover{
  background-color: #e0373f;
}

.blockScroll {
 overflow: hidden; 
}
