.header-hero {
  position: relative;
}

.header {
  position: absolute;
  padding-top: 32px;
  z-index: 999;
}

@media only screen and (min-width: 768px) {
  .header {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
}

.header-photo-logo {
  margin-right: 8px;
  border-radius: 18px;
}

.header-nav-menu {
  width: 28px;
  height: 28px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .header-nav-menu {
    display: none;
  }
}

.header-tab-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-tab-menu {
    display: inline;
    height: 0;
  }

  .header-tab-menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fafafa;
  }
}

@media only screen and (min-width: 768px) {
  .header-tab-menu-box {
    position: relative;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-tab-list {
  display: none;
  width: 160px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1440px) {
.header-tab-list {
  width: 300px;
  margin-bottom: 30px;
}
}

@media only screen and (min-width: 768px) {
  .header-tab-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #ed3b44;
    min-width: 80px;
    border-radius: 12px;
    z-index: 1;
  }

  .header-tab-menu-box:hover .header-tab-list {
    display: block;
    animation: fadeIn 0.5s forwards;
  }
  
  .header-tab-item {
    text-align: center;
  }

  .header-tab-link {
    color: #fafafa;
    display: block;
    transition: all 350ms;
  }

  @media only screen and (min-width: 1440px) {
  .header-tab-link {
    font-size: 22px;
  }
  }

  .header-tab-link:hover {
    background-color: #e0373f;
    border-radius: 12px;
  }
}

.header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../../img/Hero/heroBack_mob@1x.webp');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 400ms ease, opacity 400ms ease, visibility 400ms ease;
  z-index: 999;
}

.header-mob-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.header-btn-close-menu {
  position: absolute;
  right: 13px;
  top: 32px;
  background-color: transparent;
  margin-top: auto;
  border: 0;
  padding: 0;
  height: 0;
}

.header-modal-menu-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-modal-menu-item {
  text-align: center;
}

.header-modal-menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.header-modal-link {
  text-decoration: underline;
}

.header-btn-link-project {
  border: 0;
  border-radius: 60px;
  padding: 14px 31px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: #ed3b44;
  color: #fafafa;
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: background-color 350ms;
}

.header-btn-link-project:hover {
  background-color: #e0373f;
}

.blockScroll {
  overflow: hidden;
}

.header-tab-project {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-tab-project {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 0;
    border-radius: 60px;
    width: 163px;
    height: 55px;
    font-weight: 500;
    letter-spacing: -0.02em;
    background-color: #ed3b44;
    color: #fafafa;
    transition: background-color 350ms;
  }

  .header-tab-project:hover {
    background-color: #e0373f;
  }
}
