.header-hero {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  padding-top: 32px;
  z-index: 997;
}

@media only screen and (min-width: 768px) {
  .header {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
}

.header-logo-link {
  height: 0;
}

.header-photo-logo {
  margin-right: 8px;
  border-radius: 18px;
}

.header-nav-menu {
  width: 28px;
  height: 28px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .header-nav-menu {
    display: none;
  }
}

.header-tab-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-tab-menu {
    display: inline;
    height: 0;
  }

  .header-tab-menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--textMain);
  }
}

@media only screen and (min-width: 768px) {
  .header-tab-menu-box {
    position: relative;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -10px) scale(0.95);
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-tab-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-tab-list {
    width: 160px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--accent);
    min-width: 80px;
    border-radius: 12px;
    z-index: 1;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10px) scale(0.95);
    transform-origin: top center;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  @media only screen and (min-width: 1440px) {
    .header-tab-list {
      width: 300px;
      margin-bottom: 30px;
    }
  }

  .header-tab-menu-box:hover .header-tab-list {
    display: block;
    opacity: 1;
    visibility: visible;
    animation: scaleIn 0.3s forwards;
  }

  .header-tab-menu-box:not(:hover) .header-tab-list {
    animation: scaleOut 0.3s forwards;
  }

  .header-tab-item {
    text-align: center;
  }

  .header-tab-link {
    color: var(--textMain);
    display: block;
    transition: all var(--transition);
  }

  @media only screen and (min-width: 1440px) {
    .header-tab-link {
      font-size: 22px;
    }
  }

  .header-tab-link:hover,
  .header-tab-link:focus {
    background-color: var(--accentAlternative);
    border-radius: 12px;
  }
}

.header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../../img/Hero/heroMenu_mob@1x.webp');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 350ms ease, opacity 350ms ease, visibility 350ms ease;
  z-index: 999;
}

.header-mob-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.header-btn-close-menu {
  position: absolute;
  right: 13px;
  top: 32px;
  background-color: transparent;
  margin-top: auto;
  border: 0;
  padding: 0;
  height: 0;
}

.header-modal-menu-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-modal-menu-item {
  text-align: center;
}

.header-modal-menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.header-modal-link {
  text-decoration: underline;
}

.header-link-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  border: 0;
  border-radius: 60px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: var(--accent);
  color: var(--textMain);
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color var(--transition);
}

.header-link-project:hover,
.header-link-project:focus {
  background-color: var(--accentAlternative);
}

.blockScroll {
  overflow: hidden;
}

.header-tab-project {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-tab-project {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 0;
    border-radius: 60px;
    width: 163px;
    height: 55px;
    font-weight: 500;
    letter-spacing: -0.02em;
    background-color: var(--accent);
    color: var(--textMain);
    transition: background-color var(--transition);
  }

  .header-tab-project:hover,
  .header-tab-project:focus {
    background-color: var(--accentAlternative);
  }
}

.header-tab-project-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
