.header-hero {
  padding-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .header-hero {
    padding-bottom: 48px;
  }
}

.hero {
  position: relative;
  /* background-image: url('../../img/Hero/heroBack_mob@1x.webp'); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.hero.show {
  opacity: 1;
  transform: translateY(0);
}

.blinds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 20px;
  z-index: -1;
}

.slat {
  flex-grow: 1;
  /* background: linear-gradient(to right, #1C1D20,#69292D, #800000); */
  transition: all 0.3s ease;
  position: relative;
  transform: translateX(-100%) scale(0.8);
  opacity: 0;
}

.slat::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.slat.show {
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translateX(20%) scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* @media only screen and (min-width: 768px) {
  .hero {
    background-image: url('../../img/Hero/heroBack_tab@1x.webp');
    background-size: contain;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url('../../img/Hero/heroBack_desk@1x.webp');
  }
} */

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    width: 1084px;
    display: block;
    margin: 0 auto;
  }
}

.hero-social-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 212px;
  padding-top: 281px;
}

@media only screen and (min-width: 768px) {
  .hero-social-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 187px;
    padding-top: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-social-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 243px;
    padding-top: 300px;
  }
}

.hero-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .hero-social-list {
    gap: 8px;
    flex-wrap: nowrap;
  }
}

.hero-social-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 8px;
  width: 37px;
  height: 37px;
  cursor: pointer;
  transition: all 350ms;
}

@media only screen and (min-width: 768px) {
  .hero-social-item {
    width: 55px;
    height: 55px;
  }
}

.hero-social-item:hover {
  border: 1px solid #fafafa;
}

.email-link {
  padding: 10px 12px;
  width: 178px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .email-link {
    width: 223px;
    padding: 18px 24px;
    gap: 10px;
  }
}

.hero-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .hero-social-link {
    font-size: 16px;
  }
}
