.reviews {
  padding: 32px 0;
}

.reviews-wrapper {
  overflow: hidden;
  width: 100%;
}

.reviews-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--textTitle);
  margin-bottom: 32px;
  text-transform: uppercase;
}

.reviews-cards {
  display: flex;
  margin-bottom: 32px;
}

.reviews-card {
  border: 1px solid var(--borderMain);
  border-radius: 20px;
  padding: 32px 24px;
  min-height: 238px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.reviews-card::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(var(--accent), var(--accent)),
    linear-gradient(var(--borderMain), var(--borderMain)),
    linear-gradient(var(--accent), var(--accent)),
    linear-gradient(var(--borderMain), var(--borderMain));
  animation: rotate 4s linear infinite;
}

.reviews-card::after {
  content: '';
  position: absolute;
  z-index: -2;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: var(--backgroundMain);
  border-radius: 20px;
  transition: height var(--transition);
  transition: width var(--transition);
}

.reviews-card:hover::before {
  background-image: linear-gradient(var(--accent), var(--accent)),
    linear-gradient(var(--accent), var(--accent)),
    linear-gradient(var(--accent), var(--accent)),
    linear-gradient(var(--accent), var(--accent));
}

.reviews-card:hover::after {
  width: calc(100% - 8px);
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.reviews-image-box {
  display: inline-block;
  background-color: var(--accent);
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-card-image {
  height: 48px;
  width: 48px;
  border-radius: 10px;
}

.reviews-card-name {
  font-size: 20px;
  font-weight: 600;
  color: var(--textMain);
  margin-bottom: 8px;
}

.reviews-card-description {
  font-weight: 500;
  color: var(--textAlternative);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviews-card-description-overflow-hidden {
  display: -webkit-box;
}

.reviews-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 5px;
}

.reviews-navigation-btn {
  border: 1px solid var(--borderAlternative);
  border-radius: 50%;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reviews-navigation-icon {
  fill: transparent;
  stroke: var(--textMain);
  width: 24px;
  height: 24px;
}

.reviews-navigation-btn.swiper-button-disabled {
  border: 1px solid var(--borderMain);
}

.reviews-navigation-btn.swiper-button-disabled .reviews-navigation-icon {
  stroke: var(--arrow);
}

.reviews-error {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .reviews {
    padding: 48px 0;
  }

  .reviews-navigation-btn {
    height: 70px;
    width: 70px;
    padding: 18px;
  }

  .reviews-navigation-icon {
    fill: transparent;
    stroke: var(--textMain);
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 1440px) {
  .reviews {
    padding: 82px 0;
  }
}
