<section class="about-me-section" id="scroll-about_me">
  <div class="container about-me-container">
    <h2 class="visually-hidden">about me section</h2>

    <div class="about-me-text-photo">
      <div class="about-me-hero-desc section-animation">
        <p class="about-me-hero-text">
          I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
          <span class="about-me-text-functional">FUNCTIONAL</span>
          <span class="about-me-text-website">WEBSITES</span> THAT REFLECT EACH
          CLIENT'S UNIQUE PERSONALITY.
        </p>
      </div>
      <div class="about-me-picture-container section-animation">
        <picture class="about-me-picture">
          <source
            srcset="
              ./img/AboutMe/aboutMe_desk@1x.webp 1x,
              ./img/AboutMe/aboutMe_desk@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/AboutMe/aboutMe_tab@1x.webp 1x,
              ./img/AboutMe/aboutMe_tab@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/AboutMe/aboutMe_mob@1x.webp 1x,
              ./img/AboutMe/aboutMe_mob@2x.webp 2x
            "
            media="(min-width: 375px)"
            type="image/webp"
          />
          <img
            src="./img/AboutMe/aboutMe_desk@1x.webp"
            alt="Photo developer"
            width="680"
            height="700"
            class="about-me-picture"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <div class="about-me-ac-container">
      <ul class="about-me-ac-list section-animation"></ul>
    </div>

    <div class="about-me-skills section-animation">
      <div class="swiper about-me-skills-swiper">
        <ul class="about-me-skills-list swiper-wrapper"></ul>
      </div>
      <div class="about-me-swiper-button-next">
        <svg class="about-me-swiper-icon" width="28" height="28">
          <use href="./img/symbols.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
