<section class="about-me-section">
  <div class="container about-me-container">
    <h2 class="about-me-title">about me section</h2>
    <div class="about-me-hero-desc">
      <p class="about-me-hero-text">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
        <span class="about-me-text-functional">FUNCTIONAL</span>
        <span class="about-me-text-website">WEBSITES</span> THAT REFLECT EACH
        CLIENT'S UNIQUE PERSONALITY.
      </p>
    </div>
    <div class="about-me-picture-container">
      <picture class="about-me-picture">
        <source
          srcset="
            ./img/AboutMe/aboutMe_desk@1x.png 1x,
            ./img/AboutMe/aboutMe_desk@1x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/AboutMe/aboutMe_tab@1x.png  1x,
            ./img/AboutMe/aboutMe_tabk@1x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/AboutMe/aboutMe_mob@1x.png 1x,
            ./img/AboutMe/aboutMe_mob@2x.png 2x
          "
          media="(min-width: 375px)"
        />
        <img
          src="./img/AboutMe/aboutMe_desk@1x.png,"
          alt="Photo developer"
          width="680"
          height="700"
        />
      </picture>
    </div>
  </div>
</section>
