<section class="covers-section">
    <!-- <div class="container"> -->
        <h2 class="covers-title">Covers</h2>
        <div class="content">
            <div class="marquee">
          <div class="marquee__inner">
              <p class="marquee__line">
                  <img src="../img/Covers/1projectScreen_@2x.png" alt="" />
                </p>
          <p class="marquee__line">
            <img src="../img/Covers/2projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/3projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/4projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/5projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/6projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/7projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/8projectScreen_@2x.png" alt="" />
          </p>
        </div>
        <div class="marquee__inner">
            <p class="marquee__line">
              <img src="../img/Covers/5projectScreen_@2x.png" alt="" />
            </p>
            <p class="marquee__line">
              <img src="../img/Covers/6projectScreen_@2x.png" alt="" />
            </p>
            <p class="marquee__line">
              <img src="../img/Covers/7projectScreen_@2x.png" alt="" />
            </p>
            <p class="marquee__line">
              <img src="../img/Covers/8projectScreen_@2x.png" alt="" />
            </p>
          <p class="marquee__line">
            <img src="../img/Covers/1projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/2projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/3projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/4projectScreen_@2x.png" alt="" />
          </p>
        </div>
        <div class="marquee__inner">
            <p class="marquee__line">
              <img src="../img/Covers/3projectScreen_@2x.png" alt="" />
            </p>
            <p class="marquee__line">
              <img src="../img/Covers/4projectScreen_@2x.png" alt="" />
            </p>
            <p class="marquee__line">
              <img src="../img/Covers/5projectScreen_@2x.png" alt="" />
            </p>
          <p class="marquee__line">
            <img src="../img/Covers/1projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/7projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/8projectScreen_@2x.png" alt="" />
          <p class="marquee__line">
            <img src="../img/Covers/2projectScreen_@2x.png" alt="" />
          </p>
          <p class="marquee__line">
            <img src="../img/Covers/6projectScreen_@2x.png" alt="" />
          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
