<section class="covers section-animation">
  <div class="marquee container">
    <h2 class="covers-title">Covers</h2>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/5projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
              ../img/Covers/6projectScreen_@1x.png 1x,
              ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
            media="(max-width: 767px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/6projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
            media="(max-width: 767px)"
            srcset="
            ../img/Covers/7projectScreen_@1x.png 1x,
            ../img/Covers/7projectScreen_@2x.png 2x
            "
            width="282"
            type="image/png"
            />
            <img
            class="marquee-photo"
            src="../img/Covers/7projectScreen_@1x.png"
            alt="Project"
            width="282"
            height="162"
            loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/8projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      </li>
      <li class="marquee__card">
                <div class="marquee-wrapper">
                  <picture>
                    <source
                      media="(min-width: 1158px)"
                      srcset="
                        ../img/Covers/1projectScreen_@1x.png 1x,
                        ../img/Covers/1projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ../img/Covers/1projectScreen_@1x.png 1x,
                        ../img/Covers/1projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ../img/Covers/1projectScreen_@1x.png 1x,
                        ../img/Covers/1projectScreen_@2x.png 2x
                      "
                      width="282"
                      type="image/png"
                    />
                    <img
                      class="marquee-photo"
                      src="../img/Covers/1projectScreen_@1x.png"
                      alt="Project"
                      width="282"
                      height="162"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </li>
              <li class="marquee__card">
                <div class="marquee-wrapper">
                  <picture>
                    <source
                      media="(min-width: 1158px)"
                      srcset="
                        ../img/Covers/2projectScreen_@1x.png 1x,
                        ../img/Covers/2projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ../img/Covers/2projectScreen_@1x.png 1x,
                        ../img/Covers/2projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />        
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ../img/Covers/2projectScreen_@1x.png 1x,
                        ../img/Covers/2projectScreen_@2x.png 2x
                      "
                      width="282"
                      type="image/png"
                    />
                    <img
                      class="marquee-photo"
                      src="../img/Covers/2projectScreen_@1x.png"
                      alt="Project"
                      width="282"
                      height="162"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </li>
              <li class="marquee__card">
                <div class="marquee-wrapper">
                  <picture>
                    <source
                      media="(min-width: 1158px)"
                      srcset="
                        ../img/Covers/3projectScreen_@1x.png 1x,
                        ../img/Covers/3projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ../img/Covers/3projectScreen_@1x.png 1x,
                        ../img/Covers/3projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />       
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ../img/Covers/3projectScreen_@1x.png 1x,
                        ../img/Covers/3projectScreen_@2x.png 2x
                      "
                      width="282"
                      type="image/png"
                    />
                    <img
                      class="marquee-photo"
                      src="../img/Covers/3projectScreen_@1x.png"
                      alt="Project"
                      width="282"
                      height="162"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </li>
              <li class="marquee__card">
                <div class="marquee-wrapper">
                  <picture>
                    <source
                      media="(min-width: 1158px)"
                      srcset="
                        ../img/Covers/4projectScreen_@1x.png 1x,
                        ../img/Covers/4projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ../img/Covers/4projectScreen_@1x.png 1x,
                        ../img/Covers/4projectScreen_@2x.png 2x
                      "
                      width="544"
                      type="image/png"
                    />       
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ../img/Covers/4projectScreen_@1x.png 1x,
                        ../img/Covers/4projectScreen_@2x.png 2x
                      "
                      width="282"
                      type="image/png"
                    />
                    <img
                      class="marquee-photo"
                      src="../img/Covers/4projectScreen_@1x.png"
                      alt="Project"
                      width="282"
                      height="162"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/1projectScreen_@1x.png 1x,
                ../img/Covers/1projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/1projectScreen_@1x.png 1x,
                ../img/Covers/1projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/1projectScreen_@1x.png 1x,
                ../img/Covers/1projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/1projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
            media="(min-width: 1158px)"
            srcset="
                ../img/Covers/2projectScreen_@1x.png 1x,
                ../img/Covers/2projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/2projectScreen_@1x.png 1x,
                ../img/Covers/2projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/2projectScreen_@1x.png 1x,
                ../img/Covers/2projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
              />
              <img
              
              class="marquee-photo"
              src="../img/Covers/2projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/3projectScreen_@1x.png 1x,
                ../img/Covers/3projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/3projectScreen_@1x.png 1x,
                ../img/Covers/3projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/3projectScreen_@1x.png 1x,
                ../img/Covers/3projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/3projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/4projectScreen_@1x.png 1x,
                ../img/Covers/4projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/4projectScreen_@1x.png 1x,
                ../img/Covers/4projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/4projectScreen_@1x.png 1x,
                ../img/Covers/4projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/4projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/5projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/6projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/7projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/8projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/4projectScreen_@1x.png 1x,
                ../img/Covers/4projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/4projectScreen_@1x.png 1x,
                ../img/Covers/4projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/4projectScreen_@1x.png 1x,
                ../img/Covers/4projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/4projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/5projectScreen_@1x.png 1x,
                ../img/Covers/5projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/5projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/6projectScreen_@1x.png 1x,
                ../img/Covers/6projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/6projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/7projectScreen_@1x.png 1x,
                ../img/Covers/7projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/7projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/8projectScreen_@1x.png 1x,
                ../img/Covers/8projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/8projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/1projectScreen_@1x.png 1x,
                ../img/Covers/1projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/1projectScreen_@1x.png 1x,
                ../img/Covers/1projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/1projectScreen_@1x.png 1x,
                ../img/Covers/1projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/1projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/2projectScreen_@1x.png 1x,
                ../img/Covers/2projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/2projectScreen_@1x.png 1x,
                ../img/Covers/2projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/2projectScreen_@1x.png 1x,
                ../img/Covers/2projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/2projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ../img/Covers/3projectScreen_@1x.png 1x,
                ../img/Covers/3projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/Covers/3projectScreen_@1x.png 1x,
                ../img/Covers/3projectScreen_@2x.png 2x
              "
              width="544"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/Covers/3projectScreen_@1x.png 1x,
                ../img/Covers/3projectScreen_@2x.png 2x
              "
              width="282"
              type="image/png"
            />
            <img
              class="marquee-photo"
              src="../img/Covers/3projectScreen_@1x.png"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      
    </ul>
  </div>
</section>
