<section id="work_together" class="footer section-animation">
  <div class="container">
    <div class="title-footer">
      <span class="img-span">
        <img
          class="img-footer"
          srcset="./img/Footer/footer_@1x.webp, ./img/Footer/footer_@2x.webp 2x"
          src="./img/Footer/footer_@1x.png"
          alt="Jefferson"
          loading="lazy"
        />
        <h2 class="title-text-footer">
          Let’s <span class="work-span">work</span>
        </h2></span
      >

      <h2 class="title-text-footer">together</h2>
    </div>

    <form class="form-footer js-form-footer">
      <input
        type="email"
        name="email"
        class="js-email-input"
        placeholder="clients@gmail.com"
        required
        title="Invalid email, try again"
      />
      <span class="email-message js-email-message"></span>

      <input
        type="text"
        name="comment"
        placeholder="comments"
        required
        maxlength="255"
        title="Message should not exceed 255 characters"
      />
      <button class="btn-footer-send js-btn-footer" type="submit">Send</button>
    </form>
    <address class="contacts-footer">
      <ul class="contacts-list-footer">
        <li class="contact-item-footer">
          <a class="contact-link-footer" href="mailto:lloydjefferson@gmail.com"
            >example@example.com</a
          >
        </li>
        <li class="contact-item-footer">
          <a class="contact-link-footer" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</section>
