<header id="scroll-header" class="header container">
  <nav class="header-nav">
    <div class="header-logo">
      <a
        class="header-logo-link"
        href="./index.html"
        aria-label="Go to the main page"
      >
        <img
          class="header-photo-logo"
          srcset="
            ./images/Header/header_@1x.webp 1x,
            ./images/Header/header_@2x.webp 2x
          "
          src="./images/Header/header_@1x.webp"
          alt="logo-author"
          width="80"
          height="80"
          loading="lazy"
        />

        <svg class="header-author-logo" width="84" height="19" fill="#fafafa">
          <use href="./images/symbols.svg#jefferson"></use>
        </svg>
      </a>
    </div>

    <div class="header-tab-menu-box">
      <a href="#" class="header-tab-menu">Menu</a>

      <ul class="header-tab-list">
        <li class="header-tab-item">
          <a href="#scroll-about_me" class="header-tab-link">About me</a>
        </li>
        <li class="header-tab-item">
          <a href="#scroll-benefits" class="header-tab-link">Benefits</a>
        </li>
        <li class="header-tab-item">
          <a href="#scroll-porjects" class="header-tab-link">Projects</a>
        </li>
        <li class="header-tab-item">
          <a href="#scroll-faq" class="header-tab-link">FAQ</a>
        </li>
      </ul>
    </div>

    <div class="header-tab-project">
      <a class="header-tab-project-link" href="#work_together" target="_blank"
        >Order the project</a
      >
    </div>

    <button class="header-nav-menu" aria-label="Open navigation menu">
      <svg class="header-svg-menu" width="28" height="28" stroke="#fafafa">
        <use href="./images/symbols.svg#burger"></use>
      </svg>
    </button>
  </nav>

  <div class="header-mobile-menu">
    <div class="mobile-blinds" id="mobile-blinds"></div>
    <button class="header-btn-close-menu">
      <svg
        class="header-btn-svg-close-menu"
        width="28"
        height="28"
        stroke="#fafafa"
      >
        <use href="./images/symbols.svg#x-mob"></use>
      </svg>
    </button>

    <ul class="header-modal-menu-list">
      <li class="header-modal-menu-item">
        <a href="#scroll-about_me" class="header-modal-link">About me</a>
      </li>
      <li class="header-modal-menu-item">
        <a href="#scroll-benefits" class="header-modal-link">Benefits</a>
      </li>
      <li class="header-modal-menu-item">
        <a href="#scroll-porjects" class="header-modal-link">Projects</a>
      </li>
      <li class="header-modal-menu-item">
        <a href="#scroll-faq" class="header-modal-link">FAQ</a>
      </li>
    </ul>

    <div class="header-link-project">
      <a class="header-btn-project" href="#work_together">Order the project</a>
    </div>
  </div>
</header>
