<section class="hero section-animation">
  <div class="container">
      <h1 class="hero-title">
        Hello.</br> I’m Fullstack developer Lloyd Jefferson.
      </h1>

      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="hero-social-link"
            >IG</a
          >
        </li>
        <li class="hero-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="hero-social-link"
            >FB</a
          >
        </li>
        <li class="hero-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="hero-social-link"
            >YT</a
          >
        </li>
        <li class="hero-social-item">
          <a
            href="https://github.com/dimahutsol/js1team_project"
            target="_blank"
            class="hero-social-link"
            >GH</a
          >
        </li>
        <li class="hero-social-item email-link">
          <a href="mailto:lloydjefferson@gmail.com"  class="hero-social-link">lloydjefferson@gmail.com</a>
        </li>
      </ul>
  </div>
</section>
