<section class="projects section-animation" id="scroll-porjects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-wrapper project-swiper">
      <ul class="project-list project-list-js swiper-wrapper"></ul>
      <div class="projects-swiper-pagination"></div>
      <div class="projects-navigation">
        <div
          class="projects-navigation-btn projects-navigation-prev button-animation"
        >
          <svg class="projects-navigation-icon" width="24" height="24">
            <use href="./images/symbols.svg#arrow-left"></use>
          </svg>
        </div>
        <div
          class="projects-navigation-btn projects-navigation-next button-animation"
        >
          <svg class="projects-navigation-icon" width="24" height="24">
            <use href="./images/symbols.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
