<section class="reviews section-animation">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-wrapper">
      <ul class="reviews-cards swiper-wrapper"></ul>
      <div class="reviews-navigation">
        <div
          class="reviews-navigation-btn reviews-navigation-prev button-animation"
        >
          <svg class="reviews-navigation-icon" width="24" height="24">
            <use href="./img/symbols.svg#arrow-left"></use>
          </svg>
        </div>
        <div
          class="reviews-navigation-btn reviews-navigation-next button-animation"
        >
          <svg class="reviews-navigation-icon" width="24" height="24">
            <use href="./img/symbols.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
