<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-wrapper">
      <ul class="reviews-cards swiper-wrapper"></ul>
      <div class="reviews-pagination">
        <div class="reviews-pagination-btn reviews-pagination-prev">
          <svg class="reviews-pagination-icon" width="24" height="24">
            <use href="./img/symbols.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="reviews-pagination-btn reviews-pagination-next">
          <svg class="reviews-pagination-icon" width="24" height="24">
            <use href="./img/symbols.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
