<div class="theme-switcher-btn">
  <svg class="theme-switcher-icon" width="24" height="24">
    <use href="./images/symbols.svg#theme"></use>
  </svg>
</div>
<div class="theme-switcher-menu">
  <button class="theme-btn theme-bg-red" data-theme="theme-red"></button>
  <button class="theme-btn theme-bg-blue" data-theme="theme-blue"></button>
  <button class="theme-btn theme-bg-green" data-theme="theme-green"></button>
</div>

<a class="top" href="#scroll-header">
  <svg class="top-icon" width="24" height="24">
    <use href="./images/symbols.svg#arrow-up"></use>
  </svg>
</a>
